<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/index.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure date/time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> testing td's </td>
        <td> testing td's </td>
        <td> testing td's </td>
        <td> testing td's </td>
      </tr>
      <% flights.forEach((flight) => { %>
      <tr>
        <td><%= flight.title %> testing </td>
        <td><%= flight.releaseYear %> testing </td>
        <td><%= flight.flightNo %> testing </td>
        <td><%= flight.departs %> testing </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>