<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/show.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight no: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    
    <div>Tickets: </div>
    
    <ul>
      <% flight.tickets.forEach(ticket => { %>
        <li>Entered at: <%= ticket.createdAt.toLocaleDateString() %></li>
        <li>Price: <%= ticket.price %></li>
        <li>Seat: <%= ticket.seat %></li> 
      <% }) %>
    </ul>
    

  </section>

  <section>
    <% // from Part 2 of Lab %>
    <h2>Add Ticket to Flight</h2>
    <form 
      id="add-ticket-form"
      action="/flights/<%= flight._id %>/tickets"
      method="POST"
    >
      <label for="content-textarea">Seat:</label>
      <textarea name="seat" id="content-textarea">input seat</textarea>
      <br>

      <label for="content-textarea">Price:</label>
      <textarea name="price" id="content-textarea">input price</textarea>
      <br>

      <button type="submit">Add Ticket</button>
    </form>


    <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
    </div>
  </section>
</main>
  
<%- include('../partials/footer') %>